<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
</head>

<body>
  <div id="main__content">
    <header class="container">
      <img src="assets/images/logo.svg" alt="Company Logo">
      <nav>
        <a href="#">Universities</a>
        <a href="#">Countries</a>
        <a href="#">Ivy League</a>
      </nav>
      <button type="button" class="btn btn-outline-danger" data-bs-toggle="collapse" data-bs-target="#mobileMenu">
        Menu</button>
    </header>
    <div class="container collapse" id="mobileMenu">
      <a href="#" class="nav-link">Universities</a>
      <a href="#" class="nav-link">Countries</a>
      <a href="#" class="nav-link">Ivy League</a>
    </div>

    <div class="body container">
      <div class="row">
        <div class="col">
          <h1>Find free online courses</h1>
          <p>Discover 1403+ free online courses from top universities all around the world.</p>
          <button type="button" class="btn btn-primary">Explore Courses</button>
          <p class="note">Courses from world’s leading universities including</p>
          <div class="brands">
            <img [src]="brand" alt="Brand Who Trust Us" *ngFor="let brand of brands">
          </div>
        </div>
        <div class="col">
          <img class="img-fluid" alt="Work Hard" src="assets/images/hero.svg">
        </div>
      </div>
    </div>
  </div>
</body>

</html>